.search-bar {
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 338px;
    min-height: 338px;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    text-align: left;
    height: 100%;
    min-height: 195px;
    background: url("../../assets/images/bg-voice-log.png") no-repeat;
    background-size: cover;
    background-position: 10%;
}

.search-input {
    display: flex;
    align-content: center;
}

.search {
    display: inline-block;
    border: none;
    border-bottom: 2px solid #ffffff;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Roboto Slab,serif;
    font-size: 14px;
    height: 35px;
    outline: none;
    padding: 0 0 5px 0;
    position: relative;
    text-indent: 27px;
    width: 100%;
    z-index: 2;
    background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%271.0%27%20encoding%3D%27utf-8%27%3F%3E%0A%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20viewBox%3D%270%200%2018.4%2018.4%27%20style%3D%27enable-background%3Anew%200%200%2018.4%2018.4%3B%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cstyle%20type%3D%27text%2Fcss%27%3E%0A.st0%7Bfill%3A%23FFFFFF%3B%7D%0A%3C%2Fstyle%3E%0A%3Cpath%20class%3D%27st0%27%20d%3D%27M13%2C11.5h-0.8l-0.3-0.3c1-1.1%2C1.6-2.6%2C1.6-4.2c0-3.6-2.9-6.5-6.5-6.5S0.5%2C3.4%2C0.5%2C7s2.9%2C6.5%2C6.5%2C6.5%0Ac1.6%2C0%2C3.1-0.6%2C4.2-1.6l0.3%2C0.3V13l5%2C5l1.5-1.5L13%2C11.5z%20M7%2C11.5c-2.5%2C0-4.5-2-4.5-4.5s2-4.5%2C4.5-4.5s4.5%2C2%2C4.5%2C4.5S9.5%2C11.5%2C7%2C11.5%0Az%27%2F%3E%0A%3C%2Fsvg%3E") 0 5px no-repeat;
    background-size: 18px 18px;
}

.search::placeholder {
  color: white;
}
