<div class="fancy-ball">
  <div class="loader" *ngIf="state === 'loading'">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <div class="selected-project" *ngIf="selected_project_changed">
    <h1 class="hot-keyword" (click)="search(selected_project.keyword)">
      {{selected_project.keyword}}
    </h1>
    <h2>
      {{selected_project.count}}
    </h2>
  </div>
  <canvas #canvasEl></canvas>
</div>
