.cs-logo{
    width: 73px;
    height: 50px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/credit-suisse-logo.png);
}

.hackathon {
    color: white;
    text-decoration: none;
}

.cs-header {
  text-align: right;
}
